@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: theme('colors.lime.500');
  color: theme('colors.lime.950');
}

@keyframes typing-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
